.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 126px;
}

.logo {
    width: 100px;
    height: 70px;
    margin-left: 270px;
}

.search {
    width: 48px;
    height: 48px;
    margin: 39px 219px 0 0;
}

.menu {
    width: 66px;
    height: 44px;
    margin: 58px 54px 28px 0;
}

.border {
    width: 100%;
    border: 1px solid #000000;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_up_subtitle {
    font: 500 16px/22px "Noto Sans", sans-serif;
    color: #AC2A48;
}

.main_title {
    font: 700 44px/56px Lora, sans-serif;
}

.main_subtitle {
    font: 500 14px/19px "Noto Sans", sans-serif;
    color: #655F5F;
}

.main_image {
    width: 1460px;
    height: 587px;
}